<div class="wrapper">
    <section class="companies-info">
        <div class="container">
            <div class="company-title">
                <h3>All Professors</h3>
            </div>
            <!--company-title end-->
            <div class="companies-list">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
                        <div class="company_profile_info">
                            <div class="company-up-info">
                                <img src="assets/images/userProfile.png" alt="">
                                <h3>Amr Shaarawi</h3>
                                <h4>PhD. Physics at AUC</h4>
                                <ul>
                                    <li><a [routerLink]="['profile']" title="" class="follow">Follow</a></li>
                                    <li><a [routerLink]="['profile']" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
                                    <!-- <li><a [routerLink]="['profile']" title="" class="hire-us">Hire</a></li> -->
                                </ul>
                            </div>
                            <a [routerLink]="['profile']" title="" class="view-more-pro">View Profile</a>
                        </div>
                        <!--company_profile_info end-->
                    </div>
                </div>
            </div>
            <!--companies-list end-->
            <div class="process-comm">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
        </div>
    </section>
    <!--companies-info end-->


</div>