<div class="post-bar">
    <div class="post_topbar">
        <div class="usy-dt">
            <img style="width: 50px;" src="assets/images/1.svg" alt="">
            <div class="usy-name">
                <h3>The American University In Cairo (AUC)</h3>
                <span><img src="assets/images/clock.png" alt="">3 min ago</span>
            </div>
        </div>
        <div class="ed-opts">
            <a href="#" title="" class="ed-opts-open"><i
                    class="la la-ellipsis-v"></i></a>
            <ul class="ed-options">
                <li><a href="#" title="">Edit Post</a></li>
                <li><a href="#" title="">Unsaved</a></li>
                <li><a href="#" title="">Unbid</a></li>
                <li><a href="#" title="">Close</a></li>
                <li><a href="#" title="">Hide</a></li>
            </ul>
        </div>
    </div>
    <div class="epi-sec">
        <ul class="descp">
            <li><img src="assets/images/icon8.png" alt=""><span>Public</span></li>
            <li><img src="assets/images/icon9.png" alt=""><span>Main Campus</span>
            </li>
        </ul>
        <ul class="bk-links">
            <li><a href="#" title="" class="bid_now">RSVP</a></li>
        </ul>
    </div>
    <div class="job_descp">
        <ul class="job-dt">
            <li><span>3PM - 8PM Saturday 25/12/2019</span></li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus
            hendrerit metus, ut ullamcorper quam finibus at. Etiam id magna sit
            amet... <a href="#" title="">view more</a></p>
        <ul class="skill-tags">
            <li><a href="#" title="">Global Warming</a></li>
            <li><a href="#" title="">Graduate Studies</a></li>
            <li><a href="#" title="">Sustainability</a></li>
            <li><a href="#" title="">Environment</a></li>
        </ul>
    </div>
    <div class="job-status-bar">
        <ul class="like-com">
            <li>
                <a href="#" title="" class="active"><i class="la la-heart"></i>
                    Like</a>
                <img src="assets/images/liked-img.png" alt="">
                <span>25</span>
            </li>
            <li><a href="#" title="" class="com"><img src="assets/images/com.png"
                        alt="">
                    Comment 15</a></li>
        </ul>
        <a><i class="la la-share" style="margin-left: 20px;"></i>Share 609</a>
        <a><i class="la la-eye"></i>Views 50</a>
    </div>
</div>