<div class="right-sidebar">
    <div class="widget widget-jobs">
        <div class="sd-title">
            <h3>Feedback</h3>
            <i class="la la-ellipsis-v"></i>
        </div>
        <div class="jobs-list right-nav">
            <div class="job-info">
                <h3>What do you think of this page ? </h3>
                <div class="job-details">
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p> -->
                </div>
                <div class="hr-rate">
                </div>
            </div>
        </div>
        <!--jobs-list end-->
    </div>
</div>