<div class="wrapper" style="height: 100vh;">
    <div class="side-menu">
      <div class="logo">
        wiplo
      </div>
      <div class="menu">
        <ul>
          <li><a href="#"><i class="fa fa-server" aria-hidden="true"></i><span class="text"> Projects </span></a>
             <ul class="dropdown">
                <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="text"> Growth</span></a></li>
                <li><a href="#"><i class="fa fa-arrows-alt" aria-hidden="true"></i><span class="text"> Operations</span></a></li>
                <li><a href="#"><i class="fa fa-desktop" aria-hidden="true"></i><span class="text"> Website</span></a></li>
                <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i><span class="text"> Wedding</span></a></li>
                <li><a href="#"><i class="fa fa-mobile" aria-hidden="true"></i><span class="text"> iPhone</span></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-content">
      <div class="topmenu">
         <a href="#" id="showmenu"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <div class="search"><i class="fa fa-search" aria-hidden="true"></i> <input type='text' class='src' placeholder='Search for cards...'/></div>
      </div>
      <div class="main-section">
        <div class="section-title">Active Cards</div>
        <div class="card">
          <div class="status-green"></div>
          <div class="card-content">
            This is one of the card subjects
          </div>
          <div class="author"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
        </div>
        <div class="card">
          <div class="status-blue"></div>
          <div class="card-content">
            This is one of the card subjects 2
          </div>
          <div class="author"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
        </div>
          <div class="card">
          <div class="status-red"></div>
          <div class="card-content">
            This is one of the card subjects 3
          </div>
          <div class="author"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
        </div>
      </div>
    </div>
  </div>