<div class="align body" style="height: 100vh;">

  <div class="grid">

    <div id="login">

      <h2><span class="fontawesome-lock"></span>Sign In</h2>

      <fieldset>

        <p><label for="email">E-mail address</label></p>
        <p><input type="email" id="email" name="email" [(ngModel)]="loginVM.email" placeholder="mail@address.com"></p>

        <p><label for="password">Password</label></p>
        <p><input type="password" id="password" name="password" [(ngModel)]="loginVM.password" placeholder="password">
        </p>

        <p><input type="submit" value="Sign In" (click)="login()"></p>
        <p><input type="button" value="Login as Student" (click)="login('student@mail.com','123456')">
          <br> <input type="button" value="Login as University" (click)="login('university@mail.com','123456')"></p>
      </fieldset>

    </div> <!-- end login -->

  </div>

</div>
