<div class="wrapper">
    <section class="companies-info">
        <div class="container">
            <div class="company-title">
                <h3>All Universities</h3>
            </div><!--company-title end-->
            <div class="companies-list">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="company_profile_info">
                            <div class="company-up-info">
                                <img src="assets/images/1.svg" alt="">
                                <h3>American University in Cairo (AUC)</h3>
                                <h4>14 Events</h4>
                                <h4>55 Vacancy</h4>
                                <h4>532 Followers</h4>
                                <ul>
                                    <li><a [routerLink]="['profile']" title="" class="follow follow-200">Follow</a></li>
                                </ul>
                            </div>
                            <a [routerLink]="['profile']" title="" class="view-more-pro">View Profile</a>
                        </div><!--company_profile_info end-->
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="company_profile_info">
                            <div class="company-up-info">
                                <img src="assets/images/2.svg" alt="">
                                <h3>German University in Cairo (GUC)</h3>
                                <h4>14 Events</h4>
                                <h4>55 Vacancy</h4>
                                <h4>532 Followers</h4>
                                <ul>
                                    <li><a [routerLink]="['profile']" title="" class="follow follow-200">Follow</a></li>
                                </ul>
                            </div>
                            <a [routerLink]="['profile']" title="" class="view-more-pro">View Profile</a>
                        </div><!--company_profile_info end-->
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="company_profile_info">
                            <div class="company-up-info">
                                <img src="assets/images/3.svg" alt="">
                                <h3>British University in Egypt (BUE)</h3>
                                <h4>14 Events</h4>
                                <h4>55 Vacancy</h4>
                                <h4>532 Followers</h4>
                                <ul>
                                    <li><a [routerLink]="['profile']" title="" class="follow follow-200">Follow</a></li>
                                </ul>
                            </div>
                            <a [routerLink]="['profile']" title="" class="view-more-pro">View Profile</a>
                        </div><!--company_profile_info end-->
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="company_profile_info">
                            <div class="company-up-info">
                                <img src="assets/images/4.svg" alt="">
                                <h3>الاكادمية العربية للعلوم والتكنولوجيا والنقل البحري</h3>
                                <h4>14 Events</h4>
                                <h4>55 Vacancy</h4>
                                <h4>532 Followers</h4>
                                <ul>
                                    <li><a [routerLink]="['profile']" title="" class="follow follow-200">Follow</a></li>
                                </ul>
                            </div>
                            <a [routerLink]="['profile']" title="" class="view-more-pro">View Profile</a>
                        </div><!--company_profile_info end-->
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="company_profile_info">
                            <div class="company-up-info">
                                <img src="assets/images/5.svg" alt="">
                                <h3>Cairo University</h3>
                                <h4>14 Events</h4>
                                <h4>55 Vacancy</h4>
                                <h4>532 Followers</h4>
                                <ul>
                                    <li><a [routerLink]="['profile']" title="" class="follow follow-200">Follow</a></li>
                                </ul>
                            </div>
                            <a [routerLink]="['profile']" title="" class="view-more-pro">View Profile</a>
                        </div><!--company_profile_info end-->
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="company_profile_info">
                            <div class="company-up-info">
                                <img src="assets/images/6.svg" alt="">
                                <h3>Ain Shams University</h3>
                                <h4>14 Events</h4>
                                <h4>55 Vacancy</h4>
                                <h4>532 Followers</h4>
                                <ul>
                                    <li><a [routerLink]="['profile']" title="" class="follow follow-200">Follow</a></li>
                                </ul>
                            </div>
                            <a [routerLink]="['profile']" title="" class="view-more-pro">View Profile</a>
                        </div><!--company_profile_info end-->
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="company_profile_info">
                            <div class="company-up-info">
                                <img src="assets/images/7.svg" alt="">
                                <h3>Alexandria University</h3>
                                <h4>14 Events</h4>
                                <h4>55 Vacancy</h4>
                                <h4>532 Followers</h4>
                                <ul>
                                    <li><a [routerLink]="['profile']" title="" class="follow follow-200">Follow</a></li>
                                </ul>
                            </div>
                            <a [routerLink]="['profile']" title="" class="view-more-pro">View Profile</a>
                        </div><!--company_profile_info end-->
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="company_profile_info">
                            <div class="company-up-info">
                                <img src="assets/images/8.svg" alt="">
                                <h3>Future University In Egypt</h3>
                                <h4>14 Events</h4>
                                <h4>55 Vacancy</h4>
                                <h4>532 Followers</h4>
                                <ul>
                                    <li><a [routerLink]="['profile']" title="" class="follow follow-200">Follow</a></li>
                                </ul>
                            </div>
                            <a [routerLink]="['profile']" title="" class="view-more-pro">View Profile</a>
                        </div><!--company_profile_info end-->
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="company_profile_info">
                            <div class="company-up-info">
                                <img src="assets/images/9.svg" alt="">
                                <h3>Misr International University</h3>
                                <h4>14 Events</h4>
                                <h4>55 Vacancy</h4>
                                <h4>532 Followers</h4>
                                <ul>
                                    <li><a [routerLink]="['profile']" title="" class="follow follow-200">Follow</a></li>
                                </ul>
                            </div>
                            <a [routerLink]="['profile']" title="" class="view-more-pro">View Profile</a>
                        </div><!--company_profile_info end-->
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="company_profile_info">
                            <div class="company-up-info">
                                <img src="assets/images/10.svg" alt="">
                                <h3>Zewail City</h3>
                                <h4>14 Events</h4>
                                <h4>55 Vacancy</h4>
                                <h4>532 Followers</h4>
                                <ul>
                                    <li><a [routerLink]="['profile']" title="" class="follow follow-200">Follow</a></li>
                                </ul>
                            </div> 
                            <a [routerLink]="['profile']" title="" class="view-more-pro">View Profile</a>
                        </div><!--company_profile_info end-->
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="company_profile_info">
                            <div class="company-up-info">
                                <img src="assets/images/11.svg" alt="">
                                <h3>Nile University</h3>
                                <h4>14 Events</h4>
                                <h4>55 Vacancy</h4>
                                <h4>532 Followers</h4>
                                <ul>
                                    <li><a [routerLink]="['profile']" title="" class="follow follow-200">Follow</a></li>
                                </ul>
                            </div>
                            <a [routerLink]="['profile']" title="" class="view-more-pro">View Profile</a>
                        </div><!--company_profile_info end-->
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="company_profile_info">
                            <div class="company-up-info">
                                <img src="assets/images/12.svg" alt="">
                                <h3>Al-Azhar University</h3>
                                <h4>14 Events</h4>
                                <h4>55 Vacancy</h4>
                                <h4>532 Followers</h4>
                                <ul>
                                    <li><a [routerLink]="['profile']" title="" class="follow follow-200">Follow</a></li>
                                </ul>
                            </div>
                            <a [routerLink]="['profile']" title="" class="view-more-pro">View Profile</a>
                        </div><!--company_profile_info end-->
                    </div>
                </div>
            </div><!--companies-list end-->
            <!-- <div class="process-comm">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div> -->
            <!--process-comm end-->
        </div>
    </section><!--companies-info end-->


</div>