<div class="wrapper">
    <main>
        <div class="main-section cat-navbar">
            <div class="container">
                <div class="main-section-data">
                    <div class="row ml-5 mb-4">
                        <div class="col-11">
                            <div class="row">
                                <div class="col">
                                    <button class="btn btn-light cat-btn" (click)="changeCurrentType(0)">All</button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-light cat-btn" (click)="changeCurrentType(1)">Vacancies</button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-light cat-btn" (click)="changeCurrentType(2)">Grants</button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-light cat-btn" (click)="changeCurrentType(3)">Events</button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-light cat-btn" (click)="changeCurrentType(4)">Facilities</button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-light cat-btn" (click)="changeCurrentType(5)">Programs</button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-light cat-btn" (click)="changeCurrentType(6)">Posts</button>
                                </div>
                                <div class="col university-border">
                                    <button class="btn btn-light cat-btn">Universities</button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-light cat-btn">People</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <app-items-components></app-items-components>
                </div>
            </div>
        </div>
    </main>
</div>
